


@import url(//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap);

p {
	font-family: 'Poppins';
}

body{

			/* background: radial-gradient(circle at 10% 20%, rgb(87, 108, 117) 0%, rgb(37, 50, 55) 100.2%); */
			padding: 50px;
}
.header{
	padding-bottom: 50px;
}
.titleName{
	font-family: 'Poppins';
	font-size: 50px;
	font-style: Light 300;
	display: inline;
	float:left;
}
.menuButtons{
	justify-self: center;
	display: inline;
	float: right;
	
}
.pageButton{
	width: 200px;
	height: 100px;
	background-color: white;
}

.overthinkPageButton{
width: 200px;
	height: 100%;
	object-fit: contain;
	filter: invert();
}

