/* Global reset for body and html */

@media (max-width: 768px){



  footer{
      font-size: 7px;
  }

/* Background image */
.backgroundImage {
  
  background-position: 77% 0%;
  /* background-size: 400% auto; */
  transform: scale(1.1);

  /* filter: brightness(60%) blur(10px); */
}


.blurOverlay {
/* background-image: url('./assets/MainPortrait.png'), linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 50%); */
  background-position: 30% 10vh ;
  

}

/* Main container (the body content) */

/* Sections take full height of viewport */
section {
  position: relative;
}

/* Title and subtitle */
.mainTitle {

}



/* Header Buttons */

.headerButtons {
  left: 50%;
  transform: translateX(-50%);  /* Set the height of the header */
  flex-direction: row;
  justify-content: space-evenly;
  padding: none;
  flex-wrap: nowrap;
  overflow-x: auto;
}


/* Button Styles */
.btnClass {
  width: 25vw;
  font-size: small;
  text-align: center;
  /* display: inline-block; */  /* Keep buttons inline */
}


.titleName {
  font-size: 40px;
  line-height: 70px;
  /* color: #255a6d; */
  /* height: 20vh; */
}

.subTitle {
  font-size: 20px;
}



.introName {
  padding-left: 2vw;
  text-align: center;
  padding-top: calc(30vh);
}

.cvLeft{
font-size: 20px;
vertical-align: top;
padding-top: 20px;
}

.cvRight{
font-size: 20px;
width: 20vw;
vertical-align: top;
padding-top: 20px;
}


}