.desktop {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #000000;
    width: 1440px;
    height: 6126px;
    position: relative;
  }
  
  .desktop .the-workers-NG {
    position: absolute;
    width: 571px;
    top: 697px;
    left: 139px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .built-in-unity-the {
    position: absolute;
    width: 453px;
    top: 2224px;
    left: 139px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .ng {
    position: absolute;
    width: 1164px;
    height: 485px;
    top: 22px;
    left: 138px;
  }
  
  .desktop .ng-screen {
    height: 319px;
    top: 2224px;
    position: absolute;
    width: 572px;
    left: 737px;
    object-fit: cover;
  }
  
  .desktop .img {
    height: 320px;
    top: 2564px;
    position: absolute;
    width: 572px;
    left: 737px;
    object-fit: cover;
  }
  
  .desktop .ng-vr {
    position: absolute;
    width: 1164px;
    height: 613px;
    top: 3073px;
    left: 138px;
    object-fit: cover;
  }
  
  .desktop .ng-2 {
    position: absolute;
    width: 450px;
    height: 659px;
    top: 698px;
    left: 848px;
  }
  
  .desktop .ng-vid {
    left: 132px;
    position: absolute;
    width: 275px;
    height: 489px;
    top: 1546px;
    object-fit: cover;
  }
  
  .desktop .ng-vid-2 {
    left: 578px;
    position: absolute;
    width: 275px;
    height: 489px;
    top: 1546px;
    object-fit: cover;
  }
  
  .desktop .ngvid {
    position: absolute;
    width: 275px;
    height: 489px;
    top: 1546px;
    left: 1023px;
    object-fit: cover;
  }